[2019-05-31 09:42] acruzdb opened #3 "crm_helpesk.py + crm_helpdesk.xml"
### Migration module crm_helpdesk_improvement from v8 to v11
- The person in charge of this task must do it based on the module crm_helpdesk_improvement (https://github.com/factorlibre/helpdesk/tree/8.0-FL_Helpdesk_Improvement).

- The pertinent changes must be made to update the model and the view to v11.

[2019-05-31 09:47] acruzdb opened #4 "mail_message.py"
### Migration module crm_helpdesk_improvement from v8 to v11

- The person in charge of this task must do it based on the module crm_helpdesk_improvement (https://github.com/factorlibre/helpdesk/tree/8.0-FL_Helpdesk_Improvement).

- The pertinent changes must be made to update the model to v11.

[2019-05-31 09:48] acruzdb opened #5 "mail_thread.py"
### Migration module crm_helpdesk_improvement from v8 to v11

- The person in charge of this task must do it based on the module crm_helpdesk_improvement (https://github.com/factorlibre/helpdesk/tree/8.0-FL_Helpdesk_Improvement).

- The pertinent changes must be made to update the model to v11.

[2019-05-31 09:49] acruzdb opened #6 "res_config.py + res_config_view.xml"
### Migration module crm_helpdesk_improvement from v8 to v11

- The person in charge of this task must do it based on the module crm_helpdesk_improvement (https://github.com/factorlibre/helpdesk/tree/8.0-FL_Helpdesk_Improvement).

- The pertinent changes must be made to update the model and the view to v11.

[2019-05-31 09:50] acruzdb opened #7 "res_partner.py + res_partner_view.xml"
### Migration module crm_helpdesk_improvement from v8 to v11

- The person in charge of this task must do it based on the module crm_helpdesk_improvement (https://github.com/factorlibre/helpdesk/tree/8.0-FL_Helpdesk_Improvement).

- The pertinent changes must be made to update the model and the view to v11.

[2019-05-31 09:51] acruzdb opened #8 "data / helpdesk_sequence.xml"
### Migration module crm_helpdesk_improvement from v8 to v11

- The person in charge of this task must do it based on the module crm_helpdesk_improvement (https://github.com/factorlibre/helpdesk/tree/8.0-FL_Helpdesk_Improvement).

- The pertinent changes must be made to update the data to v11.

[2019-05-31 09:53] acruzdb opened #9 "security / ir_rule_data.xml + security / ir.model.access.csv"
### Migration module crm_helpdesk_improvement from v8 to v11

- The person in charge of this task must do it based on the module crm_helpdesk_improvement (https://github.com/factorlibre/helpdesk/tree/8.0-FL_Helpdesk_Improvement).

- The pertinent changes must be made to update the security to v11.

[2019-05-31 09:56] acruzdb opened #10 "crm_helpdesk_mail_team"
### Migration module crm_helpdesk_mail_team from v8 to v11

- The person in charge of this task must do it based on the module crm_helpdesk_mail_team (https://github.com/factorlibre/helpdesk/tree/8.0-FL_Helpdesk_Improvement).

- The relevant changes must be made to update module to v11.

[2019-05-31 10:03] acruzdb opened #11 "crm_helpdesk.py + crm_helpdesk_view.xml"
### Migration module crm_helpdesk_states from v8 to v11

- The person in charge of this task must do it based on the module crm_helpdesk_states (https://github.com/factorlibre/helpdesk/tree/8.0-FL_Helpdesk_Improvement).
- The relevant changes must be made to update the model and the view to v11.

 ***It will be necessary to review the way to define the states before performing this task**

[2019-05-31 10:05] acruzdb opened #12 "mail_message.py"
### Migration module crm_helpdesk_states from v8 to v11

- The person in charge of this task must do it based on the module crm_helpdesk_states (https://github.com/factorlibre/helpdesk/tree/8.0-FL_Helpdesk_Improvement).
- The relevant changes must be made to update the model to v11.

[2019-05-31 10:06] acruzdb opened #13 "data + security"
### Migration module crm_helpdesk_states from v8 to v11

- The person in charge of this task must do it based on the module crm_helpdesk_states (https://github.com/factorlibre/helpdesk/tree/8.0-FL_Helpdesk_Improvement).
- The relevant changes must be made to update the data and security to v11.

[2019-05-31 10:10] acruzdb opened #14 "Update Traduction"
**The person in charge of this task should do it once the rest of the tasks are finished**

[2019-06-01 12:12] emagdalenaC2i opened #15 "Create a new branch 12.0 for the migration to Odoo 12"
@pedrobaeza Once this module is finished I think it will be necessary a 12.0 branch for the migration to Odoo 12

[2019-06-04 12:39] OCA-git-bot opened #16 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] helpdesk_mgmt - By @marcelsavegnago - #42

[2019-06-04 12:40] pedrobaeza commented on #15
Empty branch already created.

[2019-06-04 12:40] #15 closed, assigned to nobody

[2019-06-09 06:46] agent-z28 opened #17 "Helpdesk Base"
We have a whole set of Modules for helpdesk implemented. Shall we Do a pr and we see what will make it? Or whats the best way now

[2019-06-09 09:04] pedrobaeza commented on #17
The problem is that we already have an implementation in progress in #1. Maybe you can review it, and comment differences of your modules with it, and then set a roadmap where technical people can take your source code and add that differences.

[2019-06-10 05:06] agent-z28 commented on #17
Okay! Great Next Time lets discuss earlier!:)
I try to do it tonight

[2019-06-10 13:30] agent-z28 commented on #17
I'll submit this tonight:

  1 {
  2     'name': "Helpdesk Timesheet",
  3     'category': 'Helpdesk',
  4     'version': '11.0.1.0.0',
  5     'depends': [
  6         'helpdesk',
  7         'hr_timesheet'
  8     ],
  9     'data': [
 10         'views/helpdesk_view.xml',
 11         'views/hr_timesheet_view.xml',
 12         'views/helpdesk_ticket_stage_view.xml'
 13     ],
 14     'author': '

[2019-06-10 15:30] agent-z28 commented on #17
done! I suggest a addons module for helpfull improvements.
E.g. We have a "Solution required" field where the user has to describe the solution before he can close the ticket.
Also we have automaticaly sent emails by changing the state of the ticket.
Shall i create a pull request with an extra module or in the main one

[2019-06-10 15:37] pedrobaeza commented on #17
But you have put a pull request with your full `helpdesk` module, isn't it? which is competing with current pull request #1. The first one has priority right now over yours. The things to do can be to analyze differences between both and extract interesting features from yours into the first one.

About the sent mails by changing state, that can be easily done through thread tracking mechanism and

[2019-06-10 15:44] agent-z28 commented on #17
No, I moved all views to the OCA helpdesk... the module i added is the one from #1.

"The only interesting thing that I see can be to link a stage with a mail template (the same as task stages do) for sending that template."

yes exactly that is what i am missing. PR for helpdesk or addons module?

[2019-06-10 15:46] pedrobaeza commented on #17
Ah, OK, what dazzled me was that you included the same module again in that PR. You would need to rebase your PR after merging the main one then.

[2019-06-10 15:49] agent-z28 commented on #17
Yes i can rebase it after. What you say about the stage template. Shall we move it into the base module or as addon?

[2019-06-10 15:50] pedrobaeza commented on #17
I think that can be an option in base. It's not so much code and it's a basic feature IMO.

[2019-06-10 15:50] emagdalenaC2i commented on #17
I think that is already part of the roadmap #12

[2019-06-10 15:53] agent-z28 commented on #17
but i have one thing to add. when moving in kanban view, the behaviour we want, is that we get a mail-wizard, where we get a "suggestion", but it still can be edited.
AFAIK this will need small js changes to the kanban view.
What do you think?

[2019-06-10 16:03] pedrobaeza commented on #17
I don't think that's a good approach, as it's error prone and anti-automation. The mail template defined at stage level determines if sending the template or not, and also followers subscriptions allow the customization. If not, indeed JS code should be involved for doing that, and with the risk that mail is sent but if an error is raised, the stage is not changed. I would encourage not to do it t

[2019-06-10 16:17] agent-z28 commented on #17
I get your point! But what,
if the closing of a Ticket requires to explain the user something?
Will you write the via mail_chatter and then change the stage afterward ?
That will make one more click to do and will also envolve mistakes..
Currently i click on Done, get the Wizard and can write final answer e.g.

[2019-06-10 16:20] pedrobaeza commented on #17
For the case you mention, the chatter solution is good for me, but you can improve the flow adding a button "Close", that opens a transient model with popup form view (aka wizard) for requesting you a closing text, and when clicking on the wizard, perform both operations.

The wizard will be similar to this module: https://github.com/OCA/sale-workflow/tree/12.0/sale_cancel_reason

[2019-06-10 21:17] agent-z28 commented on #17
I agree, but if you move in kanban to close, this button wont be clicked. So i was assuming, that the mail wizard would appear anyway. but i can live with this in OCA, i can customize for us.

[2019-06-11 10:59] agent-z28 opened #20 "New Module: Website Helpdesk"
We already realized with our Partner BizzAppDev a module to enable to user to see his tickets in the customer portal on the website.
Is anybody already working on this? If not we will create a PR

[2019-06-11 11:05] pedrobaeza commented on #20
Portal is (or will be) integrated in main module.

[2019-06-11 11:07] agent-z28 commented on #20
Portal as portal user?.
But the other case that you want the website portal?

[2019-06-11 11:09] pedrobaeza commented on #20
Portal since v11 is frontend views (like website).

[2019-06-11 11:13] agent-z28 commented on #20
Okay then i close and throw the module in the bin :(

[2019-06-11 11:13] #20 closed, assigned to nobody

[2019-06-11 11:19] agent-z28 opened #21 "FUN ISSUE: I prefere this icon"
![icon](https://user-images.githubusercontent.com/7473428/59267841-8b5bdd00-8c4b-11e9-9d5f-8b69fc210ded.png)

maybe at least this can be adapted from our module ://:S

[2019-06-11 11:20] pedrobaeza commented on #21
Take care with #MeToo movement...

[2019-06-11 11:21] agent-z28 commented on #21
it's a 3rd gender picture^^

[2019-06-12 08:53] nacho-domatix commented on #21
Really? :palmface

[2019-06-12 10:27] emagdalenaC2i commented on #21
I think this issue should be closed (there are some reasons to do that) and move this to a whatsapp group (which I can mute if I'm invited)

[2019-06-12 10:35] #21 closed, assigned to nobody

[2019-06-12 10:36] agent-z28 commented on #21
We have no WhatsApp. And we melted two whole projects, i think theres Also some space for fun!?

[2019-06-17 04:50] emagdalenaC2i opened #22 "Rename module helpdesk to helpdesk_base"
Odoo Enterprise already has a module called helpdesk.
To avoid misunderstandings and issues I think it might be better to rename the module as helpdesk_base or something similar.

@aitorbouzas @pedrobaeza What do you think?

[2019-06-17 07:29] aitorbouzas commented on #22
If EE's module is called `helpdesk` then you're totally right.
@pedrobaeza is helpdesk_base a good name for this module?

[2019-06-17 07:52] pedrobaeza commented on #22
Yes, let's move it to a different name, but I would call it `helpdesk_oca`, as the other one alters the typical use of `base`, that it's `base` + `<name>`, instead of the contrary, and `base_helpdesk` is not the proper name IMO according the intended use of `base`: https://github.com/OCA/odoo-community.org/blob/master/website/Contribution/CONTRIBUTING.rst#modules.

Other option is to call it `help

[2019-06-17 08:07] aitorbouzas commented on #22
`helpdesk_mgmt`looks like a better option to me

[2019-06-17 08:09] emagdalenaC2i commented on #22
I agree.
`helpdesk_oca` seems to refer to some service provided by OCA.

[2019-06-17 08:10] pedrobaeza commented on #22
OK then

[2019-06-17 08:12] emagdalenaC2i commented on #22
@aitorbouzas I can create a PR for this if you agree

[2019-06-17 08:14] aitorbouzas commented on #22
@emagdalenaC2i sure, thank you!

[2019-06-19 14:06] DaniKL commented on #11
Hello.

About the helpdesk_ticket_stage, we have a module where the different stages are inside a Selection field in 7 default stages, and a series of functions that depends in those default values. Our intent with the 7 default stages is to create certain workflows and functionalities. If there's a need to create new stages, it can be developed apart.

So what do you think about we make the stage

[2019-06-19 14:49] aitorbouzas commented on #11
Making the stages static would be breaking a big part of what is already done.

Stages should be something dynamic, that was one of the first things we stated from the beginning. If a customer wants to manage different stages than the original ones (the ones that are in the data xml) it means development should be done, and that's not how an OCA module should work. It must be as standard as possib

[2019-06-20 13:51] DaniKL commented on #11
Ok, so regarding stages transition, should they be automatic depending on certain actions or be changed manually by the user?

Example:
Option 1 (automatic) Ticket 1 is created with the stage "new". It remains "new" until an user is assigned to the ticket, in this moment an email is sent to the assigned user and the ticket changes to "In Progress".
Option 2 (manual) Ticket 2 is created with the st

[2019-06-20 13:57] aitorbouzas commented on #11
Right now option 2 is how this actually works and how it's supposed to work in the base module.
If you want to implement option's 1 behaviour you'll have to make a separate module and try to automate this state change.

[2019-07-02 07:26] aitorbouzas commented on #22
Close this?

[2019-07-02 07:26] #22 closed, assigned to nobody

[2019-07-12 08:05] aitorbouzas commented on #17
@agenterp can this be closed? let's keep discussing in #18

[2019-07-15 17:26] agent-z28 commented on #17
YES of course! will finish the other one this week.

[2019-07-15 17:26] #17 closed, assigned to nobody

[2019-07-25 13:47] luffah opened #45 "Add attachment in comment messages of a ticket ?"
Shall helpdesk_mgmt module integrate attachment button in website comment composer (portal chatter) ?

It can be implemented by disabling current composer in js-widget and adding a custom composer (an easy to maintain qweb template ?).

[2019-07-25 14:42] pedrobaeza commented on #45
That should be instead a more generic module that add the possibility of attachments in website comments. But having the option of sending an email as reply for me has been enough.

[2019-07-25 16:51] luffah commented on #45
Therefore a module in website/  for website portal comments attachments... Ok.

[2019-07-25 16:51] #45 closed, assigned to nobody

[2019-07-26 11:58] pedrobaeza commented on #11
Is this already completed?

[2019-07-26 11:58] pedrobaeza commented on #13
Is this already completed?

[2019-07-26 11:59] pedrobaeza commented on #12
Is this already completed?

[2019-07-26 11:59] pedrobaeza commented on #10
Is this already completed?

[2019-07-26 11:59] pedrobaeza commented on #9
Is this already completed?

[2019-07-26 11:59] pedrobaeza commented on #7
Is this already completed?

[2019-07-26 11:59] pedrobaeza commented on #6
Is this already completed?

[2019-07-26 11:59] pedrobaeza commented on #5
Is this already completed?

[2019-07-26 11:59] pedrobaeza commented on #4
Is this already completed?

[2019-07-26 11:59] pedrobaeza commented on #3
Is this already completed?

[2019-07-30 09:11] #13 closed, assigned to nobody

[2019-07-30 09:11] #3 closed, assigned to nobody

[2019-07-30 09:11] #12 closed, assigned to nobody

[2019-07-30 09:11] #11 closed, assigned to nobody

[2019-07-30 09:11] #10 closed, assigned to nobody

[2019-07-30 09:12] #7 closed, assigned to nobody

[2019-07-30 09:12] #4 closed, assigned to nobody

[2019-07-30 09:12] #5 closed, assigned to nobody

[2019-07-30 09:13] #6 closed, assigned to nobody

[2019-07-30 09:13] #8 closed, assigned to nobody

[2019-07-30 09:13] #9 closed, assigned to nobody

[2019-07-30 09:13] #14 closed, assigned to nobody

[2019-07-30 09:25] AlhMaria opened #54 "Email template -- Ticket Assignment"
I just realized that an email is sent to the client when the ticket is assigned to an user. Is this correct?
I don't know if this makes sense or if this has any purpose.

[2019-07-31 16:25] luffah opened #55 "Server date is used for initial value of last_stag_update"
In ticket list view `web#model=helpdesk.ticket&view_type=list` : I have ~~inconsistency~~
something i did not expect on last stage update value (last update is before creation...) : the default last stage update is the server start time.

Ticket number | Title | Partner Name | Assigned user | Stage | Priority | Created on | Last Stage Update
 -- | -- | -- | -- | -- | -- | -- | --
HT00032 | Recharg

[2019-07-31 16:26] pedrobaeza commented on #55
Yes, indeed. Please open a PR.

[2019-08-01 18:47] #16 closed, assigned to nobody

[2019-08-06 14:52] luffah commented on #45
Do you mean the reply is put in the chatter message automatically ?
Which part of odoo to configure in order to do that ?

[2019-08-06 14:53] pedrobaeza commented on #45
Yes, this is done automatically by Odoo having the catchall configured and inheriting from mail.thread (which is the case).

[2019-08-06 15:15] luffah commented on #45
I've seen the parameter 'catchall.domain' in system settings.
To use the catchall, do i need to a) set up a true email domain catch-all. OR b) setting a standard mail box named catchall@mydomain can be enough ?

[2019-08-06 15:25] pedrobaeza commented on #45
Just have a mailbox and put in on incoming mail servers.

[2019-08-06 15:28] luffah commented on #45
Great (yes, it works) ! thank you

[2019-08-07 09:22] #55 closed, assigned to nobody

[2019-08-07 09:49] luffah opened #63 "v12 "No title" as the title of portal ticket list"
This ticket apply to version 12.0 of this module.

In portal ticket list view, the ticket list is titled with "No title".
This the result of calling  "portal.portal_searchbar" without any argument "title".
[code]

I suggest to use the same structure than on Project module:
[code]
This imply to change the controller `myaccount.py` by disabling line `'no_breadcrumbs': False`.

[2019-08-07 10:01] luffah opened #64 "Adding searchbar in portal ticket list (similarly to Tasks)"
I intend to add a text input in searchbar in portal ticket  list (similarly to Tasks) , shall it be included in helpdesk_mgmt module.

Which properties shall we include (in oca module) for search with input text ?
- [x] _all_
- [x]  name
- [x]  description
- [ ]  chatter messages _Edit: [pedrobaeza referenced a module](https://github.com/OCA/helpdesk/issues/64#issuecomment-519158639) that do most

[2019-08-07 10:01] pedrobaeza commented on #63
OK, seems good. Go ahead with the PR

[2019-08-07 10:03] pedrobaeza commented on #64
Except chatter messages (it's going to be very slow and might require other modules like https://github.com/OCA/server-tools/tree/12.0/base_search_fuzzy), the rest seems OK.

[2019-08-07 12:57] luffah opened #67 "From mail ticket creation, computed partner_id is not always the best choice"
_Minor bug._

When creating a ticket by sending a mail (fetchmail), the partner_id is the first one found with matching mail address.

However it could be nicer to try to match a partner_id which is an helpdesk user if many matching mails are found.

See in code `helpdesk_mgmt / models / helpdesk_ticket.py`,   `def message_new ()`

[2019-08-07 13:34] pedrobaeza commented on #67
Uhm, isn't `partner_id` the "customer"? So why matching with a helpdesk user?

[2019-08-07 14:17] luffah commented on #67
Oh sorry, I was thinking granting access to portal for a customer create a res.user .
My aim is to provide an interface for the customers (and people inside the company, too) to see how evolve the tickets created (by him/her-self).

[2019-08-07 14:39] pedrobaeza commented on #67
But that is done through record rules using followers as granted users are adding the sender as follower on ticket creation.

[2019-08-07 15:36] luffah commented on #67
I think there is a second subject in this thread : i don't know if it is the expected behaviour.
* I grant portal access to a partner A.
* I set up the partner_id of a ticket to partner A. Too, i assign a task to the partner A (in a project).
* The partner A connect to the portal. The partner A see 1 task but no ticket.

Edit : in my test, A was an internal user.

[2019-08-07 15:38] pedrobaeza commented on #67
Tasks work also by followers. If you remove partner A from followers in the task, he/she doesn't see the task either.

[2019-08-07 15:50] rvalyi commented on #64
well, I know people interested in chatter messages search... I don't know, may be an option to enable it?

[2019-08-07 15:53] pedrobaeza commented on #64
That should be a separated module if there are extra dependencies

[2019-08-07 15:53] pedrobaeza commented on #64
Similar to https://github.com/OCA/social/tree/12.0/base_search_mail_content

[2019-08-07 16:05] luffah commented on #67
Thank you for your patience.
Maybe the information shall be in present in README.

[2019-08-08 09:31] luffah commented on #64
May the optionnal dependencies be included in code... if the admin installed the module, then searching in the "content" or "all" lookup message too.

[2019-08-08 12:54] luffah commented on #64
Given the search bar is include in Projet module only in odoo 12. Shall the change be made for helpdesk in v11 or shall it be only for v12 (to be homogeneous with Project module) ?

_Edit : in fact , i'm not sure if it is present or not in Project module; i found code lines that say it is included_

[2019-08-08 13:43] pedrobaeza commented on #64
If it's technically possible in v11, I don't see why we can't include it in that version, although project won't include it till v12.

[2019-08-08 15:11] luffah commented on #64
The change is ready for v12 https://github.com/osiell/helpdesk/tree/12.0-add-searchbar-input modulo some pull-requests.
I'm studying the case for v11.

[2019-09-09 18:11] OCA-git-bot opened #83 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0

# Modules to migrate

- [ ] helpdesk_mgmt

[2019-09-17 17:09] rvalyi opened #90 "[RFC]: partner creation pre-fill fields/default_get"
The helpdesk works with email and doesn't automatically create a partner when you receive a ticket. However, you may want to create the partner. I think this is similar to the CRM module. In the CRM module if you create on the create partner button from a lead, you get all field filled by default thanks to this default_get override:
https://github.com/odoo/odoo/blob/12.0/addons/crm/models/res_part

[2019-09-18 19:35] flotho opened #91 "[General Question]What is the functionnal roadmap of this repo"
Hi,

First of all I would like to congratulate this initiative that looks amazing.
My question is fairly simple and I hope that I won't be misunderstood.
What is the main difference with project management available in Odoo CE + OCA repo ?

As I'm about to migrate from 10.0 to 12.0 our main instance, as I'm suspecting that great things are about to be achieved here, I would like to have more preci

[2019-09-19 13:51] ivs-cetmix opened #93 "Kanban template Error when clicked on team card"
Version affected: 12CE
Modules installed: base + oca helpdesk
Latest commit: https://github.com/OCA/helpdesk/commit/368b9deb6478e3d8bdf3b6f1e0300d0ca8766a9e

Steps to reproduce
1. Install modules from github.
2. Create new clean Odoo db (pg 9.6) with demo data.
3. Install Helpdesk module.
4. Go to Helpdesk menu and click on Team kanban dashboard.
Following error appears:
Error:
Uncaught Error: QWe

[2019-09-19 13:53] pedrobaeza commented on #93
Please check #92

[2019-09-19 14:00] ivs-cetmix commented on #93
Thank you! Then it is solved.

[2019-09-19 14:00] #93 closed, assigned to nobody

[2019-09-26 13:20] pedrobaeza commented on #91
@rvalyi @dxnacho can you give your opinion?

[2019-09-26 14:34] nacho-domatix commented on #91
Hi @flotho, first of all thanks for your comment.

Not sure I really undestand the question, Project Management and Helpdesk provide different  features (as they do in Odoo Enterprise).

Helpdesk main goal is to manage all communication with customers, suppliers or any other users in Odoo, and that link "issues" to sale orders, tasks in projects, invoices....

Todo list is to pulish issues from em

[2019-09-26 14:41] pedrobaeza commented on #91
@flotho in services companies like ours, project management can be enough as we only have tasks for expressing an "issue", but in other type of companies, you can have RMAs, delivery issues, invoices with bad prices issues (this can happen also in services companies), etc. Having a common hub for handling them and then redirect to the proper "solver" is IMO the main goal of this module.

In my min

[2019-09-26 22:13] flotho commented on #91
Hi @pedrobaeza @dxnacho ,

Thanks for your comments.

Actually, some of my customers have this kinds of needs so @pedrobaeza I totally understood what you meant.
Yet I'm wondering if improving project management wouldn't be enough instead of adding helpdesk_mgmt_project.
But anyway, your answers are clear enough to understand what are the main next steps of this repo.

Regards

[2019-09-26 22:13] #91 closed, assigned to nobody

[2019-09-29 21:33] OCA-git-bot opened #96 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] helpdesk_mgmt - ~~By @max3903 - #99 By @emagdalenaC2i - #104~~ By @cubells - #117
- [x] helpdesk_motive - By @AntoniRomera - #130

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2019-09-30 12:31] yevbes opened #97 "[11.0] Issue on create new ticket in kanban view"
When new ticket is created in kanban view the log shows the follow error:

2019-09-30 07:40:15,797 34 ERROR project odoo.sql_db: bad query: b'INSERT INTO "helpdesk_ticket" ("id", "stage_id", "company_id", "rating_status", "positive_rate_percentage", "last_stage_update", "priority", "number", "create_uid", "write_uid", "create_date", "write_date")
VALUES(nextval('helpdesk_ticket_id_seq'), 6, 1, 'st

[2019-10-01 08:50] max3903 commented on #96
Taking a shot at migrating `helpdesk_mgmt`

[2019-10-15 10:53] DarioLodeiros opened #102 "Create Ticket from Mail with team alias"
I understand that by now, the ticket creation from mail is only possible using custom incoming mail server configuration, using the "create record" option.
If you agree, I could expand the ticket.team model by adding the alias logic to create tickets from mail... on the same way that the CRM do it. I think that is better option :)

[2019-10-15 10:54] pedrobaeza commented on #102
If not present, yeah, that would be great, but I don't know this part.

[2019-10-22 17:10] DarioLodeiros commented on #102
#105

[2019-10-22 17:10] #102 closed, assigned to nobody

[2019-10-25 07:59] DarioLodeiros opened #107 "[RFC] Website Form on v13.0"
I have a doubt with this question on v13... its better to integrate de ticket creation form with the core form editor registry released on 13.0?
Example with recruitment:
https://github.com/OCA/OCB/blob/13.0/addons/website_hr_recruitment/static/src/js/website_hr_recruitment_editor.js#L9

Origin from #106

[2019-10-25 08:01] pedrobaeza commented on #107
This is not the migration issue... This one is: #96

[2019-10-25 08:01] #107 closed, assigned to nobody

[2019-10-25 08:04] DarioLodeiros commented on #96
I have a doubt with this question on v13... its better to integrate de ticket creation form with the core form editor registry released on 13.0?
Example with recruitment:
https://github.com/OCA/OCB/blob/13.0/addons/website_hr_recruitment/static/src/js/website_hr_recruitment_editor.js#L9

[2019-10-25 08:05] DarioLodeiros commented on #107
Ou, ok, I understand, Thanks Pedro ;)

[2019-10-25 08:06] pedrobaeza commented on #96
Yeah, using that will save some code. Not sure if @emagdalenaC2i is able to check it.

[2019-10-25 08:15] DarioLodeiros commented on #96
I have some work done on v13... but if I want push changes I only can do it on the https://github.com/Change2improve/helpdesk/tree/13.0-mig-helpdesk_mgmt branch, no?, Would not be possible merge it on OCA with not installable WIP module?, sure this that discussed, but I didn't find anything about it

[2019-10-25 08:42] emagdalenaC2i commented on #96
@DarioLodeiros You can create a PR for our repository in Change2improve or create a new migration PR here. I probably can't continue with #104 until next weekend

[2020-03-02 21:37] emagdalenaC2i opened #114 "OCA PSC team helpdesk has no projects"
I think here https://odoo-community.org/psc-teams/helpdesk-164 should be listed https://github.com/OCA/helpdesk

[2020-03-20 15:15] r3dius opened #116 "Question : Installing OCA helpdesk module(v12)"
hello! This is a simple question but i dont know how to do it.
How to install OCA Odoo assitance module with my Odoo instance (v12) ?
Thank you very much.

Reda.

[2020-03-20 15:17] pedrobaeza commented on #116
This question is out of the scope of the issue tracker, that it's for issues in the code. Little tip: download the module and put it on your Odoo addons path.

[2020-03-20 15:17] #116 closed, assigned to nobody

[2020-03-20 15:23] r3dius commented on #116
Hello! thank you very much for the tip. I will try this.
Reda.

[2020-04-27 14:58] francesco-ooops opened #120 "[12.0] "Assigned to" email notification sent to partner"
When the ticket is assigned to a user, the email notification "Hello *user*,
The ticket HT00001 has been assigned to you." is sent to the partner (and not to the user)

This happens even if partner is not follower of the ticket.

Steps to reproduce:

1) create new ticket
2) assign to user
3) check outgoing email in settings > tecnical > emails

[2020-05-19 08:57] emagdalenaC2i commented on #63
@pedrobaeza Please., could you close this Issue? It is merged

[2020-05-19 08:59] #63 closed, assigned to nobody

[2020-05-20 12:37] EDallas89 opened #127 "Remove attachment page on Tickets"
On module helpdesk_mgmt, on tickets form views, there is a page named attachment that unnecessary.
Its functions are already covered by chatter.

[2020-06-11 14:12] luffah opened #137 "[13.0] helpdesk_mgmt : portal users can't comment their own tickets"
Hello,

   (at commit b2f7d3c48187c4aed7d79b59e9dbe4df6be9a8de)

   after successfully creating a ticket from portal from ticket with a portal user.
   This one can't comment.
   If you fill the message field, and send the message your redirected to this html error message.
[code]

[2020-06-11 14:16] luffah opened #138 "[13.0] helpdesk_mgmt : adding attachment fails"
Hello,
   (at commit b2f7d3c48187c4aed7d79b59e9dbe4df6be9a8de)

   with a portal user,
   if i add an attachment while creating issue, i got redirected to following traceback :
[code]

[2020-06-18 10:33] luffah commented on #137
nice job :+1:

[2020-06-18 10:33] #137 closed, assigned to nobody

[2020-06-22 06:48] #96 closed, assigned to nobody

[2020-07-08 14:16] eLBati commented on #127
The attachment tab allows a more direct access to attachments, with bigger content preview. I don't think it's useless

[2020-07-08 14:25] pedrobaeza commented on #127
I also think it's a useless duplicated feature.

[2020-07-09 13:12] #138 closed, assigned to nobody

[2020-07-10 06:32] fgarcia-humanoide opened #145 "[12] is helpdesk [12] still an alpha developement state, or it is beta as version [13]?"
[12] is helpdesk [12] still an alpha developement state, or it is beta as version [13]?

[2020-07-10 06:47] DarioLodeiros commented on #145
I am not using this module in production, only at a formative level for courses.
I do not know if @emagdalenaC2i, @samuel-domatix, @oscars8a or someone else can give their opinion about it

[2020-07-10 06:49] pedrobaeza commented on #145
It should be beta indeed

[2020-07-10 07:00] DarioLodeiros commented on #145
I changed it... by mistake I did it directly instead of using PR :facepalm:  , but if there is no problem I leave it as a maintenance change without implication in the code
https://github.com/OCA/helpdesk/commit/d74110089a406e8c31a8f793f8293f22b374165f

[2020-07-10 07:01] #145 closed, assigned to nobody

[2020-07-10 07:05] pedrobaeza commented on #145
No problem. Indeed it can be a maintenance commit.

[2020-07-10 13:40] emagdalenaC2i commented on #145
I have implemented the module and did several tests but have not yet shared it with our customers, so It is not yet used in production. We will migrate to Odoo 13 soon and then we will share with our customers.

But the tests worked fine and I think it should be in beta state

[2020-07-31 11:58] olivierb2 opened #153 "Stages are not clickable from the ticket view"
When I display the ticket content, I'm unable to click on stage in order to update the stage status. I need to move back from kanban view. This issue is only for this module, other modules like CRM allow me to update stage from the opportunity view.

Edit : this issue occurs on Odoo 13.

![Stage not clickable](https://user-images.githubusercontent.com/2324018/89032854-d0ead600-d335-11ea-8e18-0f590

[2020-07-31 12:09] DarioLodeiros commented on #153
have you tried this in the runbot ?, I just tried it in runbot and review the code and I don't see the reason why it doesn't allow you to edit the state in your case

[2020-07-31 13:08] olivierb2 commented on #153
I'm not sure where or how I can use runbot quickly, but I have two Odoo 13 separate instance with the same problem. I tried to regenerate asset to be sure, but I definitely don't know why I'm getting this issue.

[2020-07-31 13:12] olivierb2 commented on #153
Small update : I'm not developper, but seems that removing tag `disabled="disabled"` from F12 developer tools re-enable the link. Any reason why those buttons are set as disabled?

![Capture d’écran de 2020-07-31 15-11-32](https://user-images.githubusercontent.com/2324018/89038224-3c39a580-d340-11ea-8250-1931a2aab02d.png)

[2020-07-31 13:40] olivierb2 commented on #153
I finally helped myself, from developer mode, I changed the form view :

[code]

Into

[code]

[2020-07-31 13:51] DarioLodeiros commented on #153
Ok, I was looking at v12, remember to indicate version and other data that you see relevant to facilitate the review. Thanks!

[2020-07-31 13:53] olivierb2 commented on #153
Ho, my bad, apologies, this is a really newbie mistake :D

[2020-07-31 13:59] DarioLodeiros commented on #153
Dont worry, Thanks for the issue, should already be resolved if you update the sources :)

[2020-07-31 13:59] #153 closed, assigned to nobody

[2020-07-31 14:00] olivierb2 commented on #153
Got it, thanks for you commit !

[2020-09-02 14:07] eLBati opened #158 "[12.0] helpdesk_mgmt_timesheet not translatable"
As not present at https://translation.odoo-community.org/projects/helpdesk-12-0/

[2020-09-02 14:07] eLBati commented on #158
@sbidoul do you know why? Thanks

[2020-09-05 12:11] pedrocs-exo opened #159 "Backend created tickets don't show up in portal"
If we create a new ticket on the Odoo backend, it won't show on the the associated partner portal view. That's because rule
[code]
only shows tickets on which the partner is a follower. But when the ticket is created on the backend, the partner is not added to the followers list.
I can try to fix this but would appreciate your opinion: should we add the partner to the followers list or modify the

[2020-09-05 12:35] pedrobaeza commented on #159
This works the same as project, suggesting the partner as follower first time you write a message.

[2020-09-06 22:10] pedrocs-exo commented on #159
True but that's not the point. When you create a project for a client in the backend, the client is automatically added to the followers list and he can immediately see the project and tasks in the portal (even if no message was sent).

On the backend ticket creation, the client is NOT added as a folllower and so we won't be able to see it in the portal.

[2020-09-07 06:39] pedrobaeza commented on #159
AFAIK, the customer is not subscribed in tasks as well.

[2020-09-15 11:04] dalonsod commented on #158
Any news on this?

[2020-10-01 21:16] sbidoul commented on #158
This is now resolved: https://translation.odoo-community.org/projects/helpdesk-12-0/helpdesk-12-0-helpdesk_mgmt_timesheet/

[2020-10-01 21:16] #158 closed, assigned to nobody

[2020-10-02 06:23] eLBati commented on #158
Thanks!

[2020-10-02 20:13] doubledoze opened #169 "I don't have access to the public ticket page (web)"
Hello,
I will contact you to ask for a little help.

I have installed the helpdesk_mgmt module, I do have access to Helpdesk on the backend, but on my website I don't know how to access the user view to create and track tickets, I don't know the url.

Usually when I install a module, if there is a part on the web, the link is automatically added to the website menu but this is not the case.

Thank

[2020-10-02 20:30] DarioLodeiros commented on #169
The helpdesk system is thinking to use on portal user (with partners like project customers), its can be created using mail alias on helpdesk team, or you can user the "/new/ticket" relative url.

[2020-10-02 21:12] doubledoze commented on #169
@DarioLodeiros
Thank you for this information, I understand better.
Are there other url to know ? Maybe a url to display the list of tickets that concern us?

Because I would like my customers when they are connected to the website, can use this url to create tickets, but also access a url to see the list of tickets that concern them.
Thank you.

[2020-10-02 21:20] DarioLodeiros commented on #169
You must know how the customer portal works with the rest of the areas of odoo, sales, projects, etc. The helpdesk works with the generic logic of the customer portal (accessing your account from the web or through follow-up emails)
I close the issue but if you have any idea feel free to create a new issue with any proposal ;)

[2020-10-02 21:20] #169 closed, assigned to nobody

[2020-10-04 10:29] OCA-git-bot opened #170 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] helpdesk_mgmt - By @dalonsod - #179
- [x] helpdesk_mgmt_fieldservice - By @yankinmax - #348
- [ ] helpdesk_mgmt_project
- [ ] helpdesk_mgmt_rating
- [x] helpdesk_mgmt_sla - By @marcelsavegnago - #326
- [x] helpdesk_mgmt_timesheet - By @AntoniRomera - #254
- [ ] helpdesk_motive
- [ ] helpdesk

[2020-10-28 12:31] EDallas89 opened #175 "Ask for confirmation before delete a line"
On module helpdesk_mgmt_timesheet should ask for confirmation before delete a line from timesheet to avoid errors.

[2020-10-28 12:32] pedrobaeza commented on #175
I don't think so , as you still has to press Save.

[2020-10-28 12:35] EDallas89 commented on #175
Ok. It's true. I had not thought of it.

[2020-10-28 12:39] EDallas89 opened #176 "Don't modify timesheet on a closed ticket"
On module helpdesk_mgmt_timesheet it shouldn't be possible modify a line from timesheet if ticket is closed.

[2020-10-28 12:41] pedrobaeza commented on #176
Why? There are legit cases where you need to input timesheet lines in closed tickets. Requiring to reopen shouldn't be needed. You can, however, improve the module for adding a check at stage level for avoiding timesheeting on that stages and make it configurable.

[2020-10-28 12:49] #175 closed, assigned to nobody

[2020-11-27 02:25] gdgellatly commented on #176
:-1 for me too. There are many legit reasons to do this and no valid reason given here not to allow it. Reopening triggers emails and all sorts.  The obvious counter reason, I closed the ticket, now I need to stop recording my time is a completely valid workflow.

[2020-11-27 02:29] gdgellatly commented on #127
Resolved

[2020-11-27 02:29] #127 closed, assigned to nobody

[2020-11-27 08:07] #176 closed, assigned to nobody

[2020-11-27 11:59] Ramil-Mukhametzyanov opened #180 "Error when installing the helpdesk_mgmt 13.0 module"
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/usr/lib/python3/dist-package

[2020-11-27 12:24] DarioLodeiros commented on #180
You are using incorrect branch (12.0), You need change branch to 13.0

[2020-11-27 12:24] #180 closed, assigned to nobody

[2020-11-27 12:37] Ramil-Mukhametzyanov commented on #180
Thank you for quick answer

[2020-11-27 12:49] Ramil-Mukhametzyanov opened #181 "Wrong spelling of 'Helpdesk' (helpdesk 13.0)"
Wrong spelling of 'Helpdesk'
![Screenshot from 2020-11-27 17-46-37](https://user-images.githubusercontent.com/33877236/100451168-c1f41480-30d8-11eb-9640-161af9bf09af.png)
Please check

[2020-11-27 20:38] gdgellatly commented on #181
@Ramil-Mukhametzyanov thanks for reporting, it is just in the demo data, not the main module but we will fix nonetheless

[2020-11-27 20:43] #97 closed, assigned to carlos-domatix

[2020-11-27 20:44] #114 closed, assigned to nobody

[2020-11-27 20:53] gdgellatly commented on #67
@luffah This is as resolved as it is going to get after 1 year. The behaviour is pretty standard Odoo, however if you feel it needs documentation, please feel free to make a PR.

I think there is also a requirement for an option, potentially at team level or globally to autosubscribe partners to helpdesk tickets, this question comes up quite a bit, there is a duplicate issue #159  for your sub iss

[2020-11-27 20:53] #67 closed, assigned to nobody

[2020-11-27 21:01] gdgellatly commented on #181
Duplicate anyway of #40 for v12

[2020-11-30 11:11] francesco-ooops opened #183 "[12.0] Ticket creation button from portal"
Hello,

I checked on both 12.0 and 13.0 runbots but the "create new ticket" button is not present in portal.

Any idea what setup is necessary to display it?

![image](https://user-images.githubusercontent.com/55489873/100603194-08c65200-3305-11eb-9eb7-85dc0666ce68.png)

[2020-11-30 15:58] bodedra commented on #183
@francesco-ooops Currently this is only visible for Portal users.

![Screenshot from 2020-11-30 08-48-57](https://user-images.githubusercontent.com/14229503/100631572-18d03880-32e9-11eb-9016-a27d40885606.png)

![Screenshot from 2020-11-30 08-48-59](https://user-images.githubusercontent.com/14229503/100631585-1d94ec80-32e9-11eb-9f2a-1abc4126ed32.png)

I have proposed PR https://github.com/OCA/helpd

[2020-11-30 16:01] francesco-ooops commented on #183
Thanks a lot for your help!

On Mon, Nov 30, 2020, 16:59 Bhavesh Odedra <notifications@github.com> wrote:

[2020-11-30 16:49] #183 closed, assigned to nobody

[2020-12-18 12:23] dalonsod opened #190 "["

[2020-12-18 12:24] #190 closed, assigned to nobody

[2020-12-18 12:30] dalonsod opened #191 "[RFC] ticket tree view decoration depending on stage"
Hello,

I'm thinking about making a new addon for a ticket tree view improvement: changing ticket record decoration depending on the stage (e.g. if a ticket is closed or unattended). `helpdesk_mgmt_timesheet` already does it, with a certain condition (https://github.com/OCA/helpdesk/blob/12.0/helpdesk_mgmt_timesheet/views/helpdesk_ticket_view.xml#L26).

My questions are:
- Should this addition be

[2021-02-19 10:25] Dani0s opened #207 "Recipients in CC of email are not attached to tickets"
Hello,

In an installation with OdooCO v12 (commit https://github.com/odoo/odoo/commit/2427b3829c8fe90570e42f9dd8db02e6db5bd527) with the next modules installed:
- helpdesk_mgmt 12.0.1.22.2
- helpdesk_mgmt_project 12.0.1.1.0
- helpdesk_mgmt_timesheet 12.0.1.1.1

I don't know if the next issue is a failure or maybe a new feature for the helpdesk_mgmt module.

When a customer creates a ticket from i

[2021-02-19 10:27] pedrobaeza commented on #207
That only happens if the CC are already created as partner. That's something standard, not of this module itself. You can get them with `mail_tracking` module.

[2021-02-19 10:27] #207 closed, assigned to nobody

[2021-02-22 15:58] Dani0s commented on #207
@pedrobaeza excuse me, but I installed the module `mail_tacking`, and when a customer creates a ticket from its email client with CC recipients in its email, where these recipients exist as contacts previously, these contacts aren't attached as followers to the ticket.

There is no way to create contacts with the CC recipients, at the same time is created contact with the partner?

[2021-02-22 17:03] pedrobaeza commented on #207
No, auto-creation of contacts is not covered by core or any OCA module I know, and I think it's dangerous. CC mails (being known or not) should be proposed to be added as recipients the next time you reply in the ticket, isn't it?

[2021-02-23 10:23] Dani0s commented on #207
Excuse me, but when a new customer sends an email to our email in `helpdesk_mgmt`, if the email of the customer isn't existing before, the module `helpdesk_mgmt`creates a new contact with the customer email.

I think this behavior is needed and desired, including CC, if it doesn't happen like that, the communication with all the people involucred in the ticket is broken  :pensive:.

No, the CC rec

[2021-03-25 11:26] amon-ra opened #210 "[13.0] BUG: helpdesk_mgmt"
I have the following error:
[code]

I have changed the line: https://github.com/OCA/helpdesk/blob/7c1715df5b4efcdd992fa7ea557a3130123b498a/helpdesk_mgmt/models/helpdesk_ticket.py#L211 to p.id and is working.
Is this correct?

[2021-03-25 11:30] amon-ra commented on #210
Sorry duplicated.

[2021-03-25 11:30] #210 closed, assigned to nobody

[2021-04-12 09:37] JordiBForgeFlow opened #213 "Display tickets that I'm allowed to see, not just the ones assigned to me"
When you as company A provide support to a company B, multiple users in company B may be interacting, accessing to the Portal.

As such, all users in Company B shall be able to display all the tickets associated with their company, and not only the ones assigned to themselves.

This seems to be implemented correctly in the Portal security rules https://github.com/OCA/helpdesk/blob/13.0/helpdesk_mg

[2021-04-12 09:37] JordiBForgeFlow commented on #213
cc @LoisRForgeFlow

[2021-04-12 09:38] JordiBForgeFlow commented on #213
@carlos-domatix pehaps you can provide some clarification here?

[2021-04-12 10:03] JordiBForgeFlow commented on #213
@eLBati what do you think?

[2021-04-12 17:08] mileo commented on #213
I just verified that this problem is true and also occurs in version 12.

You may fix this line too: https://github.com/OCA/helpdesk/blob/13.0/helpdesk_mgmt/controllers/myaccount.py#L15

![image](https://user-images.githubusercontent.com/1975978/114433698-7da17680-9b98-11eb-9575-f55d9cf4dee6.png)

![image](https://user-images.githubusercontent.com/1975978/114433738-8b56fc00-9b98-11eb-8bed-5e02bc2c

[2021-04-12 17:09] mileo commented on #213
![image](https://user-images.githubusercontent.com/1975978/114433885-ba6d6d80-9b98-11eb-8fec-40458f064d31.png)

[2021-04-12 17:18] pedrobaeza commented on #213
Why not simply relying on the record rules for each kind of user?

[2021-04-12 17:34] JordiBForgeFlow commented on #213
I am preparing a PR

El lun., 12 abr. 2021 19:18, Pedro M. Baeza ***@***.***>
escribió:

[2021-04-13 12:15] lukejcn opened #215 ""Assigned Ticket" email being sent to the customer"
Each new ticket is created from an email, but when the ticket is assigned to a user, the customer that sends the email is getting a notification for the assignment too. How can I only send these notifications to the users and not all the followers?

[2021-04-13 12:18] lukejcn commented on #215
Apologies, I can see there's already a pull request for a solution to this:
https://github.com/OCA/helpdesk/pull/125

[2021-04-15 10:22] LoisRForgeFlow commented on #213
good to close?

[2021-04-15 10:33] #213 closed, assigned to nobody

[2021-04-15 15:12] dnrun commented on #116
So frustrating that it doesn't show up. All I see is the paid subscription helpdesk module. Can someone make a docker compose or something

[2021-04-16 16:15] tdombos opened #220 "no access to dashboard"
The following erros message is given if a user that is the member of the User group (not Manager) tries to access the Helpdesk dashboard (app root menu):

Sorry, you are not allowed to modify documents of type 'Helpdesk Ticket Team' (helpdesk.ticket.team). This operation is allowed for the groups: 	- Helpdesk/Helpdesk Manager - (Operation: write, User: 6)

[2021-04-17 10:46] dalonsod commented on #220
Hello @tdombos
Which Odoo version did you try? And have you tested it on runbot, or locally?

If it is a local environment, which Helpdesk addons are installed? And ensure that you've got the most recent versions of the addons

[2021-04-17 11:29] tdombos commented on #220
v13, I tried on runbot, and the problem is there as well.

[2021-04-17 11:59] dalonsod commented on #220
Thanks @tdombos
Locally tested, the issue is solved making `compute_sudo=True` the `todo_ticket_count*` fields.

I've also notice that #124 is not ported to v13 yet. Those improvements could be made together with the required fix, because they are related to the same part of the code (team computed fields)

[2021-05-10 08:01] konykon opened #228 "Users without Helpdesk permissions cannot create timesheet entries on Project"
Impacted versions: 12.0

Steps to reproduce: By installing the following modules,
[code]
if a user does not have Helpdesk permissions cannot create timesheet entries on Project and the following error appears:  **Access Denied by ACLs for operation: read, uid: 20, model: account.analytic.line, fields: ticket_id, ticket_partner_id**

Current behavior: Users without Helpdesk permissions cannot creat

[2021-05-11 15:00] dalonsod commented on #228
@konykon could you try on runbot and check if that issue is reproduced?

[2021-05-12 06:06] alagarda96 opened #230 "A new ticket is created when an internal user responds (from their email) to an email corresponding to a previous ticket"
In the helpdesk module, having the generation of tickets via email activated, occasionally, when responding to emails already linked to a ticket, a new ticket is generated. What could be happening? The subject is not modified, nor the recipients.

[2021-05-12 09:48] dalonsod commented on #228
@Yajo this issue is faced with `project_timesheet_time_control` installed, when attempting to start a new timer. Looking at https://github.com/OCA/project/blob/12.0/project_timesheet_time_control/wizards/hr_timesheet_switch.py#L127 , is it possible that a permission error should be fired because of the linked code, if `account.analytic.line` had fields with security groups, like `ticket_id` and `t

[2021-05-13 08:23] yajo commented on #228
It depends on whether those fields should be copied over or not. If yes: sudo. If not: add a new method that defines the fields to read, and then fix that line to use that method.

[2021-06-02 03:30] llabusch93 opened #238 "Ticket Portal Page (/my/tickets) not translatable"
The portal ticket list page (/my/tickets) is not translated (table headers, but also the content like the stages), despite the fact that the terms are translated in the database (ir.translation). Other portal pages don't have this issue, like the ticket details page (/my/ticket/<ID>). Could also confirm this on OCA runbot.

Any idea on this?

[2021-06-08 00:55] gdgellatly opened #240 "13.0 Performance of Kanban Dashboard in helpdesk_mgmt"
Just doing some performance testing here.

With 50,000 tickets, majority of which are closed the Kanban just won't open presumably due to the computed fields and the related field todo_ticket_ids.

For now I've just set any closed tickets older than 6 months to inactive which partially resolves, but even then performance is far from ideal for just 5,000 tickets taking near 25 seconds to open.

Pla

[2021-06-08 01:20] gdgellatly commented on #240
https://github.com/OCA/helpdesk/pull/241

[2021-06-08 04:35] gdgellatly commented on #230
@alagarda96 If I had to guess, Office365 user and Outlook mobile client is most likely. It strips the identifying headers. But really any mail server/client that strips X-Headers will do the same.

[2021-07-05 14:53] konykon commented on #228
@Yajo Could you please explain what do you mean by "should be copied over or not"? Like reproduce the same information, or overwrite it?

[2021-07-09 07:13] yajo commented on #228
I mean reproduce the same information, because when you start a new timer, you're actually duplicating the previous one but changing just a few fields. At least, that's how `project_timesheet_time_control` works.

[2021-07-17 21:05] eivanprietop opened #245 "I installed de_helpdesk but it doesn't appear in my module panel, I can't use it."
post-install the de_helpdesk, the application does not appear in the application panel, post-install there was no error.

The application appears installed correctly, but I cannot use it, the module does not appear in the panel.
![helpdesk parte1](https://user-images.githubusercontent.com/11510017/126049347-82898d40-f986-45dc-b4ed-fd3cc2c6c3c0.png)
![helpdesk parte2](https://user-images.githubuser

[2021-07-17 21:56] pedrobaeza commented on #245
That module doesn't belong here.

[2021-07-17 21:56] #245 closed, assigned to nobody

[2021-07-17 22:16] eivanprietop commented on #245
What do you mean, the help desk module is installed in this panel as help desk, I have already installed it on other occasions.

[2021-07-18 00:48] pedrobaeza commented on #245
There's no module de_helpdesk in this repository.

[2021-08-07 21:23] vnptphuyen opened #250 "Error Install Helpdesk Management"
Dear, Team Dev
I'm install module Helpdesk Management  then error below. Please help me.

Odoo Server Error
Traceback (most recent call last):
  File "/opt/bitnami/odoo/lib/odoo-14.0.post20210710-py3.8.egg/odoo/tools/convert.py", line 677, in _tag_root
    f(rec)
  File "/opt/bitnami/odoo/lib/odoo-14.0.post20210710-py3.8.egg/odoo/tools/convert.py", line 580, in _tag_record
    record = model._load

[2021-08-08 11:19] dalonsod commented on #250
Hello @vnptphuyen . As error message shows, `helpdesk_mgmt` addon tries to create a mail alias whose name is "helpdesk" (https://github.com/OCA/helpdesk/blob/14.0/helpdesk_mgmt/data/helpdesk_data.xml#L227), and addon installation should fail if that alias name already exists.

Please check if that alias name is already in use in your system, or make an installation from scratch and check if error

[2021-08-08 11:20] #250 closed, assigned to nobody

[2021-08-08 19:59] vnptphuyen commented on #250
thanks you.

[2021-08-16 05:19] gdgellatly opened #253 "Why is task_id computed in heldesk_mgmt_project and always False?"
https://github.com/OCA/helpdesk/blob/8a21a3cf3b0b9f1c481c428dca8ef93cd367f2f3/helpdesk_mgmt_project/models/helpdesk_ticket.py#L11

Hi,

I'm struggling to understand this. This compute field makes it impossible to create a new task in the ticket, which to me would seem the natural workflow, or at the very least a valid one. Client raises issue, assign to a project, and for internal management you c

[2021-08-16 11:21] dalonsod commented on #253
Hello @gdgellatly ,

if you take a look to v12 code (previous to compute editable fields, then using `onchange` event, https://github.com/OCA/helpdesk/blob/12.0/helpdesk_mgmt_project/models/helpdesk_ticket.py#L18), you'll guess that the desired functionality is only unsetting task value when changing project.

In v13 that code was switched to the new compute editable fields. I've tested it un v13

[2021-08-16 11:26] pedrobaeza commented on #253
Why is that a problem and why do you want to disable it?

[2021-08-16 21:53] gdgellatly commented on #253
@pedrobaeza I could tell you, but you wouldn't believe me. I scarcely believe it myself now I found the real issue.

[2021-08-16 21:53] #253 closed, assigned to nobody

[2021-08-16 22:48] pedrobaeza commented on #253
Ok, no problem. The important thing is that you get to it.

[2021-08-23 17:57] eivanprietop opened #255 "There is no checkbox to activate fiscal annual periods odoo 13"
I have accounting configured for Mexico in odoo 13, when Accessing Accounting> Configuration> Periods> Fiscal years, it appears like this:

![Captura de pantalla de 2021-08-23 12-40-26](https://user-images.githubusercontent.com/11510017/130494173-3ab092d7-4222-410e-ba4b-8bb7ed5350b2.png)

I don't understand why, could you please help me

[2021-08-23 18:04] pedrobaeza commented on #255
This is not related to this repository nor an issue, but question, so closing.

[2021-08-23 18:04] #255 closed, assigned to nobody

[2021-08-23 18:40] eivanprietop commented on #255
I understand, thanks for answering.

[2021-08-24 11:41] dalonsod commented on #220
Solved by #222 , this issue can be closed

[2021-08-24 11:47] #220 closed, assigned to nobody

[2021-08-26 16:54] marcelsavegnago opened #257 "[RFC] Ticket Portal Refactoring"
Hi guys, I'm refactoring the ticket portal and would like to share a preview with you. I understand that this style is more standardized with the other portals.

![image](https://user-images.githubusercontent.com/3595132/131002614-4d59d562-5b8d-48ce-8410-b54d3006d4c0.png)

![image](https://user-images.githubusercontent.com/3595132/131004418-9aec164b-fe4a-4b0e-a22a-09f3e1a521c0.png)

Also, I remove

[2021-08-26 17:00] marcelsavegnago commented on #257
How is it today

![image](https://user-images.githubusercontent.com/3595132/131004613-ed6d48a7-df0d-440c-b772-230f151c0e6b.png)

![image](https://user-images.githubusercontent.com/3595132/131004641-31928e26-363f-4845-b3ea-1f3632c15d29.png)

![image](https://user-images.githubusercontent.com/3595132/131004684-f0dd74e4-ba82-49f2-b493-9948c6532a5e.png)

[2021-08-29 11:53] loveyandex opened #260 "is this helpdesk need pre install modules from odoo?"

[2021-08-29 12:49] pedrobaeza commented on #260
No. For further questions, ask in forums.

[2021-08-29 12:49] #260 closed, assigned to nobody

[2021-08-29 13:56] loveyandex opened #261 "is needed other odoo's modules to install this helpdesk"
why there is no guid to install this project ??
what shoud i start from to install it

[2021-08-29 14:20] pedrobaeza commented on #261
I already answered. Please don't open more issues, as this is for errors in the repository.

[2021-08-29 14:20] #261 closed, assigned to nobody

[2021-08-30 22:02] gdgellatly commented on #257
@marcelsavegnago The ticket number is kind of needed too. My clients who use it always ask for this

[2021-08-31 00:44] marcelsavegnago commented on #257
@gdgellatly Great... my clients need it too. I'll add.

Thanks for the feedback.

[2021-08-31 01:08] gdgellatly commented on #240
Closed as solved or in progress

[2021-08-31 01:08] #240 closed, assigned to nobody

[2021-08-31 01:18] gdgellatly commented on #191
Well, this is always a can of worms.

Firstly compatibility, I don't necessarily agree with what timesheet does, as it is a bit unintuitive. Remaining hours less than zero is not a dangerous situation for most people. Certainly no more dangerous than a missed SLA, an unassigned ticket, a high priority ticket for example.

But I'm also not sure of the value of your proposal, closed and unattended a

[2021-08-31 12:02] dalonsod commented on #191
Thanks for the answer @gdgellatly , I'll take a look at your proposal. Closing this.

[2021-08-31 12:02] #191 closed, assigned to nobody

[2021-08-31 17:54] marcelsavegnago commented on #257
@gdgellatly What do you think about simplifying the ticket list?

![image](https://user-images.githubusercontent.com/3595132/131552122-c28700b3-05cc-485a-b2e7-b7813c93d2f4.png)

[2021-08-31 21:06] SamAndaluz opened #263 "Installation error"
module: helpdesk_mgmt
version: 14.0

**Steps to reproduce**
- click on the install button on the helpdesk_mgmt

**Current behavior**
It does not install, instead generates an error
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/odoo/src/odoo/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/home/odoo/src/odoo/odoo/http.

[2021-09-01 05:57] gdgellatly commented on #257
@marcelsavegnago Many years ago I stopped for a beer at the pinguim bar by the opera house. In fact spent a few days there.

For me I think we need dates, probably create and close and maybe last_stage_change. For my clients with many tickets, their clients basically try to find them like they find emails - especially if tickets are created by email.

I don't know if you did as part of this but we

[2021-09-01 12:50] dalonsod commented on #263
Hello @SamAndaluz `helpdesk_mgmt` OCA module has no field called `sale_order_id`. Please ensure you're installing the addon downloaded from OCA, and installing it over a clean database.

[2021-09-01 13:08] marcelsavegnago commented on #257
@gdgellatly Very cool .. Did you stay in Ribeirão Preto? If I told you that I practically never went to the Pinguim Bar near the opera, would you believe it? :D

About date columns I understand and will add again.

About stage grouping I was thinking about this yesterday. I'll work on that and also on the open tickets filter.

About the pill boxes I thought about applying colors but I was in doubt

[2021-09-01 16:44] marcelsavegnago commented on #257
@gdgellatly Date type fields were added again and partner_id.name and category_id fields removed.

![image](https://user-images.githubusercontent.com/3595132/131710449-4e63ebce-e972-4785-a026-a2cc931df8f4.png)

[2021-09-01 17:29] marcelsavegnago commented on #257
@gdgellatly Originally the filter is based on steps, do you think it's worth keeping or would it be better to look like the image below?

- All,
- Assigned
- Unassigned
- Open
- Closed

![image](https://user-images.githubusercontent.com/3595132/131716466-df4cfab6-a523-43cb-a398-99cc10c4b8ea.png)

[2021-09-01 18:47] tdombos opened #264 "[IMP] access only own team"
It would be great to have a permission level where the user can only access tickets assigned to the team they are members of.

[2021-09-02 07:12] gdgellatly commented on #257
Hi @marcelsavegnago

I spent some days there, maybe 4. Was a business/study trip. I remember arriving on a Sunday morning and that bar was the only place open but we got the manager to open up the opera place for us as well.

For me, from a client usability perspective what am I interested in? Why am I here on this portal?

I'm probably not interested in Assigned Status that is kind of internal. I

[2021-09-03 15:50] dalonsod commented on #264
Hello @tdombos ,

there's no need to change `helpdesk_mgmt` addon or make a new one, you can make new groups and/or record rules in your Odoo installation in order to achieve it. E.g. if you make a new rule for `helpdesk.ticket` model with this domain, or similar:

`['|',('user_ids','in',[user.id]),('user_ids','=',False)]`

, assign it to `Helpdesk / User` group, and move the `All tickets` rule to

[2021-09-06 16:39] tdombos opened #265 "error accessing partners if no access to helpdesk"
On v14 If the helpdesk module is installed, but the user has no access to the helpdesk module, the access to the partner form will be denied with the following error message:
[code]

[2021-09-06 16:43] pedrobaeza commented on #265
You are not indicating Odoo version and you may not update to latest source code.

[2021-09-06 17:05] dalonsod commented on #265
This issue should be solved, for v13, when #171 is merged, ant then it should be forward ported to v14.

@tdombos you can review that PR, when approved it should be merged.

[2021-09-08 12:05] FaTaToo opened #266 "Error when open ticket from Kanban view"
**Impacted versions:** 12.0

**Steps to reproduce:**
- This bug is happen randomly when I open any ticket from kanban view.

**Current behavior:**
- This bug is happen randomly
- Form view of ticket was openned but still have search view area and name of the ticket is not the same with the name on control panel.
URL still reference to kanban view: /web?debug=assets#action=465&active_id=1&model=hel

[2021-09-08 12:13] alodoanhnhan opened #267 "Installation error: the helpdesk_mgmt module conflicts with the maintenance app"
I found an error during module installation. Part of the code in the file helpdesk_data.xml has conflicted with the Maintenance app:

        <record id="mail_alias_lead_info_helpdesk" model="mail.alias">
            <field name="alias_name">**helpdesk**</field>
            <field name="alias_model_id" ref="model_helpdesk_ticket" />
            <field name="alias_user_id" ref="base.user_admin" />

[2021-09-08 13:06] dalonsod commented on #266
Hello @FaTaToo this issue appears to belong to Enterprise helpdesk addon, not OCA one.

[2021-09-08 13:09] pedrobaeza commented on #266
Anyways, without clear steps to reproduce the problem, nothing to do. I'll reopen if we have them.

[2021-09-08 13:09] #266 closed, assigned to nobody

[2021-09-08 18:25] marcelsavegnago commented on #257
Cool. The Pinguim bar is well known and the beer is very cold :)

Yes I agree.

Okay.. I've already removed it from PR

I simplified it and added grouping by stage. If you can check the PR I would appreciate it.
https://github.com/OCA/helpdesk/pull/258

[2021-09-09 02:18] FaTaToo commented on #266
thank you @dalonsod  and @pedrobaeza , I am developer for a company and we are using Enterprise module. Cause I don't know Subscription Code, so I cannot ask on odoo.com/help and that is why I post here. The bug happens randomly when I click ticket from kanban view so it's hard to tell exactly step to reproduce, just click on ticket and the bug happen. Anyway, I just post here with the hope that s

[2021-09-09 10:53] tdombos commented on #264
Thank you, that worked, although I also had to add record rules to limit access to helpdesk.ticket.team as well.

[2021-09-09 10:53] #264 closed, assigned to nobody

[2021-09-09 11:01] tdombos opened #268 "[IMP] different stages for different teams"
It would be great to have the ability to set different stages for different teams, similarly to how the project module handles stages.

[2021-09-09 16:59] dalonsod commented on #267
Hello @alodoanhnhan you're right IMO. Anyway, which Odoo version are you using?

@pedrobaeza `mail_alias_lead_info_helpdesk` record is under a `data noupudate="1"` section. If I made a PR in order to fix it, could you provide me an example of how to upgrade a module with such XML record change and force it during update? Thanks!

[2021-09-09 17:02] pedrobaeza commented on #267
https://github.com/OCA/OpenUpgrade/blob/f2bfdfbb1f088f473a4ed319d7ea3e746cb34a7e/addons/account/migrations/13.0.1.1/post-migration.py#L1063

and

https://github.com/OCA/OpenUpgrade/blob/13.0/addons/account/migrations/13.0.1.1/noupdate_changes.xml

[2021-09-10 04:25] alodoanhnhan commented on #267
Hi @dalonsod , I am using version 14

[2021-09-27 17:54] #267 closed, assigned to nobody

[2021-10-09 23:24] SamAndaluz commented on #263
Thank you, it installed in a clean database

[2021-10-09 23:24] #263 closed, assigned to nobody

[2021-10-11 07:03] AmooryGit opened #271 "error when create new time sheet"
AttributeError: 'super' object has no attribute '_onchange_task_id'

[2021-10-11 07:03] #271 closed, assigned to nobody

[2021-10-11 07:07] AmooryGit opened #272 "error when i'm try to create new time sheet"
![erorr_time_sheet](https://user-images.githubusercontent.com/82140789/136747007-531d299c-1149-4ed1-834c-278c077a1008.png)

[2021-10-11 07:26] pedrobaeza commented on #272
This has nothing to do with this module, as there's no such method referred in the code. Your instance has an offending third-party module or modification. Closing as no issue here.

[2021-10-11 07:26] #272 closed, assigned to nobody

[2021-10-12 15:56] eivanprietop opened #273 "Problem importing products xlsx file"
When importing xlsx file of products it sends me the following error:

An unknown problem occurred during import (possibly lost connection, data limit exceeded, or memory limits exceeded). Please try again if the problem is temporary. If the problem persists, try splitting the file instead of importing it all at once.

The file has 1000 lines, I already tried 500 lines, it sent the same error.

I

[2021-10-12 16:06] eivanprietop opened #274 "module icon image does not appear in main panel"
Install the om_hr_payroll module and it works correctly, but the module icon does not appear in the main panel.

I already updated the module and even so the icon does not appear, I already uninstalled it and reinstalled it and the icon still does not appear.

can you help me please.
![Captura de pantalla de 2021-10-12 10-58-11](https://user-images.githubusercontent.com/11510017/136991319-89a4719d

[2021-10-12 16:57] pedrobaeza commented on #273
Your issue has nothing to do with the modules of this repository, so closing.

[2021-10-12 16:57] #273 closed, assigned to nobody

[2021-10-12 16:58] pedrobaeza commented on #274
Such module is not of this repository, so closing.

[2021-10-12 16:58] #274 closed, assigned to nobody

[2021-10-17 10:15] OCA-git-bot opened #276 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] helpdesk_mgmt - By @jacob88 - #283
- [x] helpdesk_mgmt_crm - By @pilarvargas-tecnativa - #627
- [x] helpdesk_mgmt_motive - By @adasatorres - #527
- [ ] helpdesk_mgmt_partner_sequence - By @pleirb - #566
- [ ] helpdesk_mgmt_project
- [ ] helpdesk_mgmt_timesheet
- [ ] helpdesk_motive
- [ ] hel

[2021-11-02 15:54] santa-asmane opened #282 "Adding followers in message_new() and message_update()"
## Module
helpdesk_mgmt: https://github.com/OCA/helpdesk/blob/14.0/helpdesk_mgmt/models/helpdesk_ticket.py
Lines 215 and 231

You should probably use "p.id" instead of "p", because message_subscribe() needs a list of partner IDs, not a list of partner browseable records, but _mail_find_partner_from_emails() returns browseable records.

This leads to errors, while processing incoming e-mails, like:

[2021-11-02 15:56] dalonsod commented on #282
Hello @santa-asmane thanks for the feedback. This should be fixed by #280 , could you take a look?

[2021-11-03 18:53] marcos-mendez commented on #238
You have to choose user language for this to work, already check in OCA and locally and is translatable.

I Suggest closing this issue

[2021-11-03 18:54] marcos-mendez commented on #257
LGTM Loved it

[2021-11-03 18:57] marcos-mendez commented on #257
I don't agree with you, certain tipe of helpdesk we need to know who it is assigned to so user can provide feedback or answer to the matter. For example Hospital maintenance if backup is needed or supply for parts. Maybe so urgent backup is filtered for the user.

[2021-11-04 09:30] llabusch93 commented on #238
Hello @marcos-mendez

I can not confirm this. It does not work locally, neither on the OCA runbot. As I wrote, all other helpdesk portal pages are in German, only the list (/my/tickets) stays untranslated all the time.
So I have the user language set, otherwise the other pages would not be in German, right?

So if it does really work for you, what I doubt, I would be interested in a demo video or

[2021-11-05 01:06] gdgellatly commented on #257
@marcos-mendez but you do agree. If it is only for a certain type of helpdesk, then it shouldn't be in the general module.

But in any case, you have completely misread or do not use the module. We are talking of Assigned Status, not of who it is assigned to. That information is already in the ticket and part of the messaging.

[2021-11-05 14:22] marcos-mendez commented on #257
A ok ok, yes yes in this case yes. I didnt understand. In that case i can
try to use a parallel module in helpdesk. ok. LQTM

Sorry buddy 🍺🍺

Em qui., 4 de nov. de 2021 às 22:06, Graeme Gellatly <
***@***.***> escreveu:

[2021-11-07 13:23] jacob88 commented on #276
I'll migrate, "helpdesk_mgmt" and "helpdesk_mgmt_project".

[2021-11-07 13:33] jacob88 commented on #276
Migration PR up for "helpdesk_mgmt".
https://github.com/OCA/helpdesk/pull/283

[2021-11-28 12:15] #54 closed, assigned to nobody

[2021-11-28 12:15] #64 closed, assigned to nobody

[2021-11-28 12:15] #83 closed, assigned to nobody

[2021-12-05 12:16] #90 closed, assigned to nobody

[2021-12-12 12:16] #120 closed, assigned to nobody

[2021-12-12 17:09] pedrobaeza commented on #181
Fixed at 7da663505369968f3617fd2989333308969d750a

[2021-12-12 17:09] #181 closed, assigned to nobody

[2021-12-22 23:41] luffah opened #288 "[14.0] helpdesk_mgmt 14.0.1.1.1 depends on openupgradelib (but not in manifest)"
I updated the module and an issue about missing openupgradelib was raised while migration.
Yet, openupgradelib is not mentionned in dependencies.

[2021-12-23 00:18] pedrobaeza commented on #288
This is an old debate. You don't need `openupgradelib` for the module. Just to upgrade. No upgrade, no lib requirement, but such lib is a must in any deployment, as it's widely used. You should consider it a deployment requirement if you plan to do rolling releases (which I recommend) against frozen ones.

[2021-12-23 00:50] luffah commented on #288
I understand.

Would it be a bad idea to add it in manifest with a key ignored by Odoo ?
[code]

[2021-12-23 07:18] pedrobaeza commented on #288
Do you mean for information purposes? I don't see it very valuable, as that's the only library that is going to appear.

[2021-12-23 09:33] luffah commented on #288
Yes, mostly for information purposes but it could be used by some script.  As example, Drupal have this kind of field (migration_dependencies) in module description. Here was the theory.
If nobody use any other lib in real life for migration (most migrations i've seen doesn't  even use openupgradelib) it would be not very valuable except for warning about openupgradelib requirement (and maybe vers

[2021-12-23 09:33] #288 closed, assigned to nobody

[2021-12-27 13:38] luffah opened #289 "Broken style on portal ticket pages"
Some styling errors are presents.
Sorry for the bug label, there is a mix of buggy style and improvement ideas.

### Client customization recommendations
To correct on client customization it requires to inherit or override the following templates.
Given the style is somehow broken, i recommend to override the templates to avoid conflict on module update.

### Templates that could be nicer
**helpd

[2021-12-27 14:10] marcelsavegnago commented on #289
@luffah Just for the sake of knowledge, I recently started a PR to refactor the ticket view in the portal. If you are interested and want to check it out.
https://github.com/OCA/helpdesk/pull/258

[2022-01-04 13:28] luffah opened #291 "[14.0] helpdesk_mgmt : security and standards"
Given our context is for a portal user (frontend), if we compare tickets with projects :
   - it looks like the code and views can be simplified using portal.mixin
   - project use `ir.rule` for portal users,   helpdesk ticket have instead  ` domain = [("partner_id", "child_of", partner.id)] ` in controller could (should?) be an `ir.rule` too, in order to allow advanced ticket sharing by modifying

[2022-01-04 13:33] pedrobaeza commented on #291
I think this has been tackled in #285, but I have asked for a split of the improvements.

[2022-01-04 21:08] gdgellatly commented on #215
Closing this as resolved in 14.0 and will be forwarded to 15.0.

[2022-01-04 21:08] #215 closed, assigned to nobody

[2022-01-09 12:17] #159 closed, assigned to nobody

[2022-01-11 17:19] bose2273 commented on #170
Getting the following error when trying to install in CE version 14. Any Help will be highly apprecited

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/tools/convert.py", line 677, in _tag_root
    f(rec)
  File "/odoo/odoo-server/odoo/tools/convert.py", line 580, in _tag_record
    record = model._load_records([data], self.mode == 'update')
  File "/od

[2022-01-11 17:21] bose2273 commented on #170
Please note that this is a fresh install and not an upgrade. Thank you!!

[2022-01-23 12:16] #230 closed, assigned to nobody

[2022-01-29 15:45] flachica opened #294 "[15.0] Can't test helpdesk_mgmt on runbot"
I review logs and something was wrong. I think that has failed because [0a problem](https://runbot2-2.odoo-community.org/runbot/static/build/3529161-15-0-2317ae/logs/job_10_test_base.txt) with DevOpvs. I think that can't find the virtualenvironment

[2022-01-31 11:06] sbidoul commented on #294
Hello,

runbot does not work for 15.0 and is in phase-out for other branches.

Look for the runboat links instead:

![image](https://user-images.githubusercontent.com/692075/151783025-a0b27c60-872e-458e-8874-5292c898d92e.png)

[2022-01-31 11:09] #294 closed, assigned to nobody

[2022-02-02 16:29] brenoalef opened #295 "[12.0] E-mails beeing hardcoded sent on ticket creation and assignment to current user"
## Module
helpdesk_mgmt

## Describe the bug
Even when there is no mail template defined for New stage, tickets created by mail send an e-mail notifying the creation.
Also, when a user assigns a ticket to self an e-mail is being sent notifying the user of the assignment.
I think it's caused by the methods added to helpdesk_ticket.py in https://github.com/OCA/helpdesk/commit/98e5ef7f4a2e074283da367

[2022-02-02 19:36] pedrobaeza commented on #295
The first point was solved by me in upper versions, and I have cherry-picked it in v12 in 8ffd5dccda40e9534b7142099c7878b105b86761

Please create another issue for the other.

[2022-02-02 19:36] #295 closed, assigned to nobody

[2022-02-02 22:44] brenoalef opened #296 "[12.0] Ticket Creation e-mail beeing sent hardcoded with default template"
This was first reported alongside another issue in  #295

## Module
helpdesk_mgmt

## Describe the bug
Even when there is no mail template defined for New stage, tickets created by mail send an e-mail notifying the creation to the partner.
This occurs because `helpdesk_mgmt.created_ticket_template` is being hardcoded used as template to send e-mails on ticket creation. That part of the code is not

[2022-02-04 14:45] HekkiMelody commented on #296
I'm not necessarily against this change, but it should be noted that the difference between having the email set at the stage level and this one is that as it currently exists, the email is sent on ticket creation. With your suggestion, if you were to create a ticket directly at a different stage, the email would not be sent.

Maybe a configuration setting would be better?

[2022-02-09 15:17] mjrk opened #297 "Any chance to switch license of the base module to LGPL-3?"
I have a couple of feature requests for helpdesk extensions and I would like to implement them as LGPL-3. LGPL-3 is an requirement, because there will be a client specific frontend theme [EDIT: and few fields to incorporate from a proprietary addon. Unfortunately, license wise, it is not possible to combine proprietary Odoo addons with AGPL.]

Therefore, I would like to ask the maintainers if they

[2022-02-09 16:12] pedrobaeza commented on #297
The license is AGPL specifically for avoiding such extensions like managing returns to be private. I would recommend a `helpdesk_mgmt_rma` bridging with `rma` OCA modules family for that. But all in open.

Theming the portal - understood as giving other aspect - is something that doesn't require to depend on the helpdesk modules, so it's not preventing at all such extension parts, that are logical

[2022-02-09 16:39] mjrk commented on #297
@pedrobaeza Thanks a lot for your response.

I understand the reasoning. However, the theming requires templates and fields of the helpdesk extension and therefore requires to depend on it ... . Also, the final theming ([EDIT] it's about commercial delivery and payment plantform integrations) needs to combine another addon (non-free) from a different source.
The planned helpdesk extension offers t

[2022-02-09 16:46] pedrobaeza commented on #297
I'm only one of the contributor (and not very big) of these modules. There are more, but from my part, I don't want to lose the viral component of the AGPL and don't get contributions back. If you go to the ~~dark~~ private side, then benefit from those that play with the community rules with no other gain is not fair for me.

Let's see what other contributors think.

[2022-02-11 05:16] brenoalef commented on #296
There is currently a configuration for mail model by stage. If a ticket is created, in any stage, an e-mail is sent using the configured template.
As it is now, even if the stage has no configured template, the "ticket created" e-mail is beeing sent. This results in two e-mails being sent if a template is defined for stage New, for example. I've tested creating a ticket at Done stage, and the resu

[2022-02-11 08:35] HekkiMelody commented on #296
I don't disagree that the way the module currently behaves is problematic, I'm just pointing out that's it's not an entirely undesirable behaviour and straight-up removing it may not be the best solution.

Such use-case for one of my installations of helpdesk is that whenever a ticket is created (and it's not already on a "closed" stage on creation), a "ticket has been created" email should be sen

[2022-02-11 14:56] pedrobaeza commented on #296
The way to get the "Ticket is created" mail on creation should be to assign a template to the initial stage where the ticket is created (usually, "New" or similar), so I agree on removing this hardcoded one.

[2022-02-13 12:15] #228 closed, assigned to nobody

[2022-02-14 11:24] HekkiMelody commented on #296
I've made the PR #298

[2022-02-20 11:03] alodoanhnhan opened #300 "[14.0] helpdesk_mgmt : Error share button in action section"
## Module
helpdesk.ticket

## Describe the bug
The share button in the action section is broken, because the helpdesk.ticket model has not inherited the portal.mixin model

Steps to reproduce the behavior:
1. Add the portal.mixin model to the helpdesk.ticket model
Old:
`_inherit = ["mail.thread.cc", "mail.activity.mixin"]`

New:
`_inherit = ["mail.thread.cc", "mail.activity.mixin", "portal.mixin"]

[2022-03-06 17:27] pedrobaeza commented on #265
This should be solved in latest versions

[2022-03-06 17:27] #265 closed, assigned to nobody

[2022-03-28 07:49] llabusch93 commented on #238
Still have the problem on my customers production, but can't reproduce this on runbot anymore. I assume that it might have to do with the Odoo 12.0 version I use. I will upgrade Odoo an report back here if that solved the issue.

[2022-04-11 14:30] GiuTav opened #314 "[14] Disable automatic email notification on new ticket"
We would like to avoid that every time a ticket is opened the system sends an email, where can this setting be disabled?
awaiting your reply, I offer cordial greetings

[2022-04-11 15:18] david34000 commented on #276
Hello, do you know if a migration of the timesheet module is planned in version 15?

[2022-04-11 17:57] dalonsod commented on #314
Hello @GiuTav , I'm not an expert in `mail.thread` model integration, but looking at other implementation and comments, it seems to be a built-in non configurable feature, since `helpdesk.ticket` implements `mail.thread.cc`.

As commented in https://www.odoo.com/forum/help-1/don-t-send-a-message-on-creation-85525 some of the features (like sending an email and others, unfortunately some of them to

[2022-04-11 18:42] ktalovmorx opened #315 "Error"
while parsing file:/c:/program%20files/odoo15/server/odoo/addons/helpdesk_mgmt/demo/helpdesk_demo.xml:103, somewhere inside <record id="helpdesk_ticket_3" model="helpdesk.ticket"> <field eval="&quot;Document related problems&quot;" name="name"/> <field eval="&quot;Document related problems&quot;" name="description"/> <field eval="&quot;Jaime Bajozano&quot;" name="partner_name"/> <field eval="&quot

[2022-04-11 18:45] pedrobaeza commented on #315
Sorry, this is not an issue of the module, as it installs correctly in CI environments, so your DB is somehow contaminated. Please start with a fresh install or dig where is the problem in your DB.

[2022-04-11 18:45] #315 closed, assigned to nobody

[2022-04-11 19:52] ktalovmorx commented on #315
Ok, solved

On Mon, Apr 11, 2022 at 2:45 PM Pedro M. Baeza ***@***.***>
wrote:

[2022-04-17 12:18] #268 closed, assigned to nobody

[2022-04-18 08:48] flachica opened #320 "[15] Can't update helpdesk_mgmt"
## Module
helpdesk_mgmt

## Describe the bug
When update helpdesk_mgmt throw

[code]

## To Reproduce
Got to Modules and update heldesk_mgmt

**Expected behavior**
The process end succefully

**Additional context**
* `14.0/helpdesk_mgmt/migrations)/14.0.1.5.1` and `15.0/helpdesk_mgmt/migrations/15.0.1.3.1` are the same files
* I make #319 PR to fix this

[2022-04-18 08:59] #320 closed, assigned to nobody

[2022-04-28 14:43] pedrobaeza commented on #300
Fixed in #323

[2022-04-28 14:43] #300 closed, assigned to nobody

[2022-05-31 13:15] maininformatica opened #329 "View tickets only for team members."
I don't know if it's a error or configuration problem. All users have permission to view all tickets. Even if they are not members of the team.

[2022-05-31 13:28] pedrobaeza commented on #329
Yes, that feature is not present.

[2022-05-31 13:45] dalonsod commented on #329
Hello @maininformatica take a look at #264 , may help you IMO

[2022-06-01 15:22] maininformatica commented on #264
Ok.
First I create the two rules, it works partially. Only in Dashboard. Then I delete them and everything works fine. I don't get it. I'm also a big newbie. Thank you.

[2022-06-12 12:18] #257 closed, assigned to nobody

[2022-06-12 12:18] #282 closed, assigned to nobody

[2022-06-15 16:24] helifoxit opened #334 "Odhho.sh 15 Trying to install the HelpDesk Lite Module"
RPC_ERROR
Odoo Server Error
Traceback (most recent call last):
  File "/home/odoo/src/odoo/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/home/odoo/src/odoo/odoo/http.py", line 687, in dispatch
    result = self._call_function(**self.params)
  File "/home/odoo/src/odoo/odoo/http.py", line 359, in _call_function
    return checked_call(self.db,

[2022-06-15 16:29] pedrobaeza commented on #334
The module you mention has nothing to do with the one in this repo.

[2022-06-15 16:29] #334 closed, assigned to nobody

[2022-06-21 15:25] jpbarrosss opened #337 "Open a ticket whenever you receive an email"
- Olá, é possível abrir um ticket automaticamente para uma equipe, sempre que eu receber um novo email?

- Is it possible to automatically open a ticket for a team whenever I receive a new email?

[2022-06-21 20:26] pedrobaeza commented on #337
That's achieved with the aliases, which is a regular Odoo mechanism.

[2022-06-21 20:26] #337 closed, assigned to nobody

[2022-07-10 12:44] pedrobaeza commented on #291
Fixed in eb348d91a6b11bc90955ec4d899e43dab43b1286

[2022-07-10 12:44] #291 closed, assigned to nobody

[2022-07-11 10:59] homeland3d commented on #296
In version 14.0 not send new ticket notification. When ticket is recieved trough email the odoo not notify the creation.
Can anyone solve this? or have some workaround to do this?

[2022-07-27 12:14] gfrino opened #347 "Feature Request"
module: helpdesk_mgmt
version: 13.0

Would be useful to have a MERGE Helpdesk functionality

**Steps to reproduce**
- ...

**Current behavior**

**Expected behavior**

[2022-07-27 14:00] yankinmax commented on #170
`helpdesk_mgmt_fieldservice` migration is here https://github.com/OCA/helpdesk/pull/348

[2022-07-31 12:22] #289 closed, assigned to nobody

[2022-08-22 22:30] valasule opened #353 "Project is not set when ticket created by email"
This is occurring in the helpdesk_mgmt module.

## Describe the bug
After configuring the helpdesk system and testing an incoming email the project is not being set in the ticket to the one set in the Team.  I believe this is also causing a secondary issue of the ticket not being assigned to the user set in that teams Assign to field and no email is sent to the customer upon ticket creation.  All

[2022-09-01 16:18] valasule opened #361 "Ticket Email Templates are not working"
<!-- Provide a general summary of the issue in the Title above.
Just recently I am getting a python error when handling tickets that trigger the use of an email template, i.e. creating, moving, assigning, closing.  If I remove the email template from the stage all actions work correctly.

## Module
helpdesk_mgmt

## Describe the bug
This was first noticed when attempting to move a ticket to my Don

[2022-09-01 16:20] pedrobaeza commented on #361
Steps to reproduce the problem in runboat? Odoo version?

[2022-09-01 16:25] valasule commented on #361
Hello @pedrobaeza
Well that is pretty odd, I filled everything out and it didn't save it to the issue.  I will get it all written back out and submit in a sec.

[2022-09-01 16:30] valasule commented on #361
## Module
helpdesk_mgmt

## Describe the bug
Recently the ticket email templates are throwing an error when they are activated.

## To Reproduce
**Affected versions**: 14

Steps to reproduce the behavior:
1. Configure a Stage and make sure the Email Template is set
2. Create a ticket in that stage
3. Save the ticket (The same behavior happens when a ticket is moved to a stage that uses an Email Te

[2022-09-01 16:30] valasule commented on #361
[mail.template.csv](https://github.com/OCA/helpdesk/files/9471658/mail.template.csv)
This is a dump of one of the templates I use that is having the issue

[2022-09-01 16:31] pedrobaeza commented on #361
Error message?

Maybe a translation problem?

[2022-09-01 16:31] valasule commented on #361
This is the full error I get when it tries to execute the template:
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 683, in dispatch
    result = self._call_function(**self.params)
  File "/usr/lib

[2022-09-01 16:32] valasule commented on #361
I was splitting it all out in case the error is what caused my initial post to not post any content

[2022-09-01 16:58] valasule commented on #361
I think something weird happened with a code pull.  I tested on my sandbox and it worked right so I recloned fresh from git, upgraded the helpdesk_mgmt app through the UI and it worked without an error.  Closing it off, apologies for the alarm.

[2022-09-01 16:58] #361 closed, assigned to nobody

[2022-09-02 15:31] mjrk commented on #297
@pedrobaeza Thanks a lot for leaving this issue open.

I liked the "dark" private comment from above and would like to point out, that when you search for AGPL, that there are some people with (IMHO) valid arguments, that call AGPL the Free Open Source license that is as close to proprietary licenses as it gets. This because of dual licensing and also some programmers view, when they experience th

[2022-09-02 16:00] pedrobaeza commented on #297
I don't doubt that your intentions may be good, but at the end, using AGPL doesn't mean you have to publish things in OCA. Just that the license in derivative works should be kept, and as so, if someone from your release chain wants to put on open such code, the license grants this.

And it's not only because of you, but changing the module to such license will open the doors to other with no such

[2022-09-02 16:18] mjrk commented on #297
Thanks for your quick reply. I did not mention a relationship between AGPL and OCA or did not expressed myself well.

If I understand the argument correctly, the only solution is to develop a new LGPL helpdesk solution. (I mean, only this way we can find an Open Source replacement in our situation.) It seems a bit off, but it's not so much code at the end. Keeping this in mind, I might come back h

[2022-09-02 16:21] pedrobaeza commented on #297
I still don't understand why that "pieces" can't be AGPL.

[2022-09-02 16:28] mjrk commented on #297
If your task is to extend helpdesk.ticket ( https://github.com/OCA/helpdesk/blob/15.0/helpdesk_mgmt/models/helpdesk_ticket.py ) with related models from proprietary apps, you cannot legally do it.
So you need to use another helpdesk app. But if this helpdesk is proprietary, it makes little sense (if even possible) to make our other helpdesk extensions LGPL.

[2022-09-02 16:29] pedrobaeza commented on #297
Do you mean some kind of connectors to other software packages? That's not illegal.

[2022-09-02 16:34] mjrk commented on #297
If I understand license compatibility right, I can neither develop an LGPL or proprietary app on top of AGPL (having an AGPL module in the depends-declaration). Also, I cannot create a AGPL app on top of a proprietary module. I cannot combine them, or is there a special license extension that would allow this?

[2022-09-02 16:35] pedrobaeza commented on #297
Of course not, but what I say that is not illegal is to do an AGPL connector to such proprietary packages.

[2022-09-02 16:41] mjrk commented on #297
I am confused, is the information given here misleading: https://www.odoo.com/blog/odoo-news-5/adapting-our-open-source-license-245

"Odoo projects will be able to use AGPL modules or paid modules under proprietary licenses, but it is not possible to combine both. Combining LGLPv3 modules and proprietary modules is fine however, so we encourage current owners licensing under AGPL to move to LGPLv3

[2022-09-02 17:02] mjrk commented on #297
Maybe the misunderstanding is that the connectors already exists as Odoo apps, they are free to download, but a proprietary license. And, to re-implement them in AGPL app is not an option, they come together with the partner/service, the amount of code for these APIs is huge. Their usage is not my choice, but the clients. We could not convince the providers to switch license to an Open Source mode

[2022-09-02 17:10] pedrobaeza commented on #297
I think your misunderstanding is in the word "combine". You can have an Odoo instance with AGPL, LGPL and Propietary modules installed. The only license problem is if a proprietary module DEPENDS on an AGPL. But if they don't depend each other, then no problem.

Please check this OCA post that can be clearer: https://odoo-community.org/blog/news-updates-1/oca-odoo-meeting-on-licenses-21

cc @OCA/b

[2022-09-02 17:15] mjrk commented on #297
There was no question about your point, and the OCA view is made clear an various locations, and as I wrote above, I "have no problem following it". The question is, if I can build an AGPL app with depends on a proprietary module. This would be very surprising, as AGPL requires to publish the whole stack to the user - and I cannot publish the OPL-1, even if it's free to download.

[2022-09-02 17:29] pedrobaeza commented on #297
No, you can't do that, but it's more reasonable to replace such proprietary part than the whole stack IMO. Anyways, I think we have become to a dead end on our reasonings.

[2022-09-03 13:47] ugoviti opened #363 "OCA-helpdesk doesn't send New Ticket notification email when it's opened from customer portal"
Hi,

I'm testing the helpdesk module (great work!) with odoo 15.

All works like a charm, only a question about ticket notification when created from customer portal:

It's possibile to send the ticket mail when customer open a new ticket?

Let's me explain: If the staff open a ticket using the backend and set the Team and the assigned user, odoo send correctly the notification mail. But this does

[2022-09-12 22:48] ugoviti commented on #257
Hi @marcelsavegnago, I like very much your refactoring. In my opinion It's a big enhancement and a must to have, over the official customer portal of OCA-helpdesk.

Do you have worked in a version for the odoo 15 release?

Keep up the good work.

Kind regards

[2022-09-12 22:59] marcelsavegnago commented on #257
@ugoviti  Yes I plan to work on it for version 14.0 and 15.0 soon.

[2022-10-03 16:22] sbidoul opened #370 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] helpdesk_mgmt - By @zuher83 - #440
- [x] helpdesk_mgmt_project - By @zuher83 - #441
- [x] helpdesk_mgmt_rating - By @carolinafernandez-tecnativa - #554
- [x] helpdesk_mgmt_sale - By @victoralmau - #806
- [ ] helpdesk_mgmt_sla - By @AntoniRomera - #450
- [x] helpdesk_mgmt_timesheet - By @Anto

[2022-10-30 12:25] #238 closed, assigned to nobody

[2022-11-07 09:51] houzefa-abba opened #374 "helpdesk_mgmt: Wrong French translation filename"
Hi,

French localization files Odoo expects are `fr.po`, not `fr_FR.po`

In this repo in the 15.0 branch:
* [helpdesk_mgmt](https://github.com/OCA/helpdesk/tree/15.0/helpdesk_mgmt): `fr_FR.po` - wrong :x:
* [helpdesk_mgmt_project](https://github.com/OCA/helpdesk/tree/15.0/helpdesk_mgmt_project): `fr.po` - ok :heavy_check_mark:
* [helpdesk_type](https://github.com/OCA/helpdesk/tree/15.0/helpdesk_ty

[2022-11-07 13:13] pedrobaeza commented on #374
Please go with 1

[2022-11-07 15:28] #374 closed, assigned to nobody

[2022-11-13 12:23] #276 closed, assigned to nobody

[2022-11-13 12:23] #314 closed, assigned to nobody

[2022-11-28 22:37] brenoalef opened #390 "[14.0] Can't open ticket if there are logged hours when using permission group for personal tickets only"
## Module
helpdesk_mgmt_timesheet

## Describe the bug
If a user is in the permission group of personal tickets and has permission to read analytic lines, the system outputs an error message when the user tries to read a ticket with logged hours. This happens because the module restricts the field `ticket_id` in the class `AccountAnalyticLine` to the group `group_helpdesk_user` (User with access t

[2022-11-29 16:03] dalonsod commented on #390
Hello @brenoalef ,

inspecting original v12 code, I've not found anything that could justify using `group_helpdesk_user` instead of `group_helpdesk_user_own` (at the bottom of the Helpdesk security groups hierarchy). And no problems should be arise with this change IMO.

Making that little change, or even removing `groups` definition for affected fields (and using instead view security restriction